@import 'mixins.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $bg-color;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 910px;
    padding: 0 15px;
    margin: 0 auto;
}

.section__title {
    @include sectionTitle;
}

.section__desc {
    @include sectionDesc;
}

// header ///////////////////////////////////////

.header {
    position: relative;
    z-index: 1000;
    .wrapper {
        max-width: 1145px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 0;
        &__list {
            display: flex;
            align-items: center;
            list-style: none;
            @media screen and (min-width: 769px) {
                & > * + * {
                    padding-left: 30px;
                }
            }
            a {
                text-decoration: none;
                font-family: Roboto;
                font-size: 16px;
                line-height: 23px;
                color: $text-color;
            }
            .nav__link_active {
                color: $accent-color;
                padding: 8px 20px;
                background: rgba(101, 114, 123, 0.2);
                border-radius: 40px;
            }
        }
    }
}

#nav-check,
.nav-bar {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 30px;
    height: 30px;
}

#nav-check {
    opacity: 0;
}

.nav-bar {
    pointer-events: none;
    opacity: 0;
    span {
        width: 100%;
        height: 2px;
        background-color: $accent-color;
        display: inline-block;
        position: absolute;
        transition: .3s;
        &:nth-child(1){
            top: 4px;
        }
        &:nth-child(2){
            top: 14px;
        }
        &:nth-child(3){
            top: 24px;
        }
    }
}

#nav-check:checked ~ .nav-bar {
    span {
        &:nth-child(1){
            top: 14px;
            transform: rotate(45deg); 
        }
        &:nth-child(2){
            opacity: 0;
            transform: translate(-15px);
        }
        &:nth-child(3){
            transform: rotate(-45deg); 
            top: 14px;
        }
    }
}

@media screen and (max-width: 768px){
    .header {
        .nav {
            &__list {
                position: fixed;
                top: 0;
                left: -100vw;
                height: 100vh;
                transition: .8s;
                flex-direction: column;
                justify-content: center;
                background-color: $accent-color;
                padding: 0 130px;
                box-shadow: 6px 0px 32px -25px rgba(34, 60, 80, 0.23);
                li {
                    margin: 15px 0;
                }
                .nav__link {
                    color: #fff;
                }
                .nav__link_active {
                    color: #fff;
                    background: rgb(226 243 255 / 20%);
                }
            }
            .nav-bar {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 425px){
    .header {
        .nav {
            &__list {
                padding: 0 0;
                width: 100vw;
                left: -100vw;
            }
        }
    }
}

// intro /////////////////////////////////////

.intro {
    text-align: center;
    margin-bottom: 170px;
    
    &__title {
        margin-top: 123px;
    }
    &__desc {
        margin-top: 40px;
        margin-bottom: 48px;
    }
    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 116px;
        @media screen and (max-width: 425px) {
            flex-direction: column;
            gap: 25px;
        }
        a {
            text-decoration: none;
            font-family: Source Sans Pro;
            font-size: 16px;
            line-height: 23px;
            color: #fff;
            display: flex;
            align-items: center;
            padding: 16px 32px;
            border-radius: 50px;
            margin: 0 10px;
            &:nth-child(1){
                background-color: $accent-color;
                &::before {
                    content: url(../img/icons/apple.png);
                    margin-right: 10px;
                }
            }
            &:nth-child(2){
                background-color: #AEB4B6;
                position: relative;
                &::before {
                    content: url(../img/icons/play-store.png);
                    margin-right: 10px;
                }
                &::after {
                    content: 'Join the waitlist';
                    position: absolute;
                    bottom: -25px;
                    color: $text-color;
                }
            }
        }
    }
    &__img {
        padding-right: 116px;
        padding-bottom: 103px;

        position: relative;

        @media screen and (max-width: 890px) {
            padding-right: 70px;
        }
        @media screen and (max-width: 600px) {
            padding-right: 30px;
            padding-left: 10px;
        }

        img {
            max-width: 100%;
        }

        &::after {
            content: '';
            width: 157px;
            height: 3px;
            background: rgba(27, 31, 43, 0.12);
            border-radius: 40px;

            position: absolute;
            bottom: 0;
            right: calc(50% - (157px / 2));
        }
    }
}

// panels //////////////////////////////////////////////////// 

.panels {
    padding-bottom: 172px;
    margin-bottom: 170px;

    position: relative;

    &::after {
        content: '';
        width: 157px;
        height: 3px;
        background: rgba(27, 31, 43, 0.12);
        border-radius: 40px;

        position: absolute;
        bottom: 0;
        right: calc(50% - (157px / 2));
    }

    &__desc {
        margin-top: 38px;
        margin-bottom: 105px;
    }

    &__inner {

        .panel {
            display: flex;
            flex-direction: column;
            max-width: 430px;
            padding: 60px 50px;
            border-radius: 20px;

            &__icon {
                width: 24px;
                height: 24px;
                margin-bottom: 19px;
                margin-top: 40px;
            }

            &__title {
                margin-bottom: 11px;
                font-weight: 700;
                font-size: 40px;
                line-height: 47px;
                color: $dark-text-color;
            }

            &__desc {
                font-size: 17px;
                line-height: 24px;
            }
        }

        .panel--reversed {
            .panel__icon {
                margin-top: 0 !important;
            }
            .panel__desc {
                margin-bottom: 38px;
            }
        }

        .pannels__top {
            display: flex;
            gap: 20px;
            align-items: flex-end;

            .panel:nth-child(1){
                background: #DAE1F4;
                height: max-content;
            }
            .panel:nth-child(2){
                background: #D0E6F3;
            }
        }
        .pannels__bottom {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            align-items: flex-start;
            
            .panel:nth-child(1){
                background: #E0F0E6;
            }
            .panel:nth-child(2){
                background: #F4F0E9;
                height: max-content;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .panels {
        &__inner {
            .panel {
                max-width: 100%;
                padding: 100px;

                margin-left: 20px !important;
                margin-right: 20px !important;
            }

            .pannels__top {
                flex-direction: column;
            }
            .pannels__bottom {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .panels {
        &__inner {
            .panel {
                padding: 40px;
            }
        }
    }
}

// slider /////////////////////////////////////////////

.slider {
    margin-bottom: 150px;
    &__desc {
        margin-top: 36px;
        margin-bottom: 100px;
    }

    &__inner {
        .item {

            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            padding: 32px;

            &__text {
                font-family: 'Merriweather';
                font-size: 13px;
                line-height: 20px;
                color: $dark-text-color;
            }
            &__stars {
                color: #F2A700;
                margin-top: 19px;
                margin-bottom: 25px;
            }
            &__author {
                display: flex;

                div:nth-child(1){
                    margin-right: 10px;
                }
                div:nth-child(2){
                    font-family: 'Source Sans Pro';
                    p {
                        font-size: 16px;
                        line-height: 19px;
                        color: $dark-text-color;
                    }
                    span {
                        font-size: 14px;
                        line-height: 17px;
                        color: $text-color;
                    }
                }
            }
        } 
    }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #008C6E;
}

// mission ///////////////////////////////////////////////

.mission {
    background-color: $accent-color;
    padding: 260px 0 320px 0;
    text-align: center;

    position: relative;

    background-image: url(../img/02.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    @media screen and (max-width: 768px){
        background-size: auto;
    }

    &::before {
        content: url(../img/02-icon.png);
        position: absolute;
        left: calc(50% - (173px / 2));
        top: calc(0% - (200px / 2));
    }

    &__title,
    &__desc {
        color: #fff;
    } 

    &__desc {
        margin-top: 38px;
        margin-bottom: 62px;
    }

    &__link {
        font-family: 'Source Sans Pro';
        font-size: 16px;
        line-height: 23px;
        color: $accent-color;
        padding: 14px 32px 18px 32px;
        background-color: #fff;
        border-radius: 50px;
        text-decoration: none;
    }
}

//app ////////////////////////////////////

.app {
    &__inner {
        display: flex;
        background: #F8E6BE;
        margin-top: 50px;
        margin-bottom: 200px;
        justify-content: flex-end;

        & > div {
            max-width: 50%;
        }

        .app__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        .app__title {
            text-align: left;
            margin-left: 42px;
            color: #333333;
        }
        .app__links {
            margin-top: 46px;
            margin-bottom: 33px;
            a {
                margin: 0 15px;
            }
        }
        .app__img {
            img {
                vertical-align: bottom;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .app {
        &__inner {
            flex-direction: column;
            align-items: center;
            padding-top: 50px;

            & > div {
                max-width: 100%;
            }

            .app__title {
                text-align: center;
                margin-left: 0;
                padding: 0 10px;
            }
        }
    }
}

// join ////////////////////////////////// 

.join {
    &__inner {
        .join__desc {
            margin-top: 39px;
            margin-bottom: 36px;
        }
        .join__form {
            form {
                display: flex;
                justify-content: center;
                align-items: center;

                position: relative;

                &::after {
                    content: 'Our commitment to protecting your Data Privacy';
                    position: absolute;
                    top: calc(100% + 10px);
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                    color: #65727B;
                }

                input[type='email']{
                    padding: 18px 38px;
                    font-size: 20px;
                    line-height: 20px;
                    color: rgba(40, 81, 79, 0.5);

                    background: #FFFFFF;
                    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
                    border-radius: 40px 0px 0px 40px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
                input[type='submit']{
                    background-color: $accent-color;
                    color: #fff;
                    font-size: 17px;
                    line-height: 36px;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 12px 30px 12px 13px;
                    border-radius: 0px 40px 40px 0px;
                    box-shadow: 0px 4px 0px rgba(167, 167, 167, 0.16);
                    border: none;
                    cursor: pointer;

                    
                }

                div {
                    position: relative;

                    &::after {
                        content: url(../img/VectorArrow.svg);
                        position: absolute;
                        top: 21px;
                        right: 17px;
                    }
                }

                
            }
            margin-bottom: 230px;
        }
    }
}

@media screen and (max-width: 500px) {
    .join {
        &__inner {
            .join__form {
                form {
                    input[type='email'] {
                        padding: 18px 0 18px 10px;
                        max-width: 100%;
                    }
                    input[type='submit'] {
                        padding: 12px 10px 12px 5px;
                    }
                    div {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// footer /////////////////////////////////

.footer {
    &__inner {
        padding: 70px 0 50px 0;
        border-top: 2px solid  rgba(165, 155, 134, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .footer__col-1 {
            display: flex;
            flex-direction: column;
            span {
                font-size: 13px;
                line-height: 20px;
                color: $text-color;
                margin: 10px 0;
            }
            .footer__links {
                display: flex;
                gap: 80px;
                & > div {
                    display: flex;
                    flex-direction: column;

                    a {
                        font-size: 13px;
                        line-height: 20px;
                        text-decoration-line: underline;
                        color: $accent-color;
                    }
                }
            }
        }

        .footer__col-2 {
            .footer__pages {
                list-style: none;
                display: flex;

                li {
                    padding: 0 20px;

                    a {
                        font-size: 19px;
                        line-height: 20px;
                        color: $text-color;
                    }
                }
            }
        }

        .footer__col-3 {
            .footer__social {
                display: flex;
                list-style: none;

                li {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__inner {
            flex-direction: column;
            text-align: center;

            .footer__col-2 {
                margin: 70px 0;
            }
        }
    }
}